<%= render 'form' %>

<div class="map-container">
  <div id="map"></div>
</div>

<script>

var coordinates_array = []

initMapNew = function() {

    var mapOptions = {
      center: {lat: 43.777167, lng: -79.231510},
      zoom: 13
    };

    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    var poly = new google.maps.Polyline({
      strokeColor: '#ba0b0b',
      strokeOpacity: 1.0,
      strokeWeight: 5
    });

    poly.setMap(map);

    // Add a listener for the click event
    map.addListener('click', addLatLng);


    // Handles click events on a map, and adds a new point to the Polyline.

     function addLatLng(event) {

        var path = poly.getPath();
        var point = [event.latLng.lat(), event.latLng.lng()]
        coordinates_array.push(point);
        console.log(JSON.stringify(coordinates_array));

        var coordinates_input = JSON.stringify(coordinates_array);

        $(".coordinates").val(coordinates_input);

        var name = $('.name-field').val();
        var desc = $('.desc-field').val();
        var closed = $('.closed-field').val();
        var reopen = $('.reopen-field').val();


        $('.save-map').on('click', function(e) {
          e.preventDefault();
          var str = $('form').serialize();
          $.ajax({
            url: "/maps",
            method: "post",
            data: { name: name, description: desc, date_closed: closed, date_reopen: reopen, coordinates: coordinates_input },
            dataType: 'JSON'
          }).done(function(response) {
            console.log(response);
          });
        });


        // Because path is an MVCArray, we can simply append a new coordinate
        // and it will automatically appear.
        path.push(event.latLng);



        // Add a new marker at the new plotted point on the polyline.
        var marker = new google.maps.Marker({
          position: event.latLng,
          title: '#' + path.getLength(),
          map: map
        });

      }

    };

  //
  // $('.save-map').on('submit', function() {
  //     console.log(coordinates_array);
  //     $('.points').value = coordinates_array;
  //     // window.open("localhost:3000//controller/create?coordinates="+coordinates_array,"_self");
  // });

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqsCaOw8_xtZ37g3_YWkIiwKlvMva7c7k&callback=initMapNew"></script>
