<ul>
  <li class="map-details">Name: <%= @map.name %></li>
  <li class="map-details">Description: <%= @map.description %></li>
  <li class="map-details">Date of Closure: <%= @map.date_closed %> </li>
  <li class="map-details">Date of Re-Opening: <%= @map.date_reopen %></li>
</ul>

<button id="map-create">Create Map</button>

<script>
 $('#map-create').on('click', function(event) {
    event.preventDefault();

   $.ajax({
    url: "maps/update",
    type: 'post',
    data: 'coordinates=' + coordinates_array,
    dataType: 'script'
   });

});
</script>
