// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map2 {
  width: 500px;
  height: 500px;
}

.map-size {
  width: 500px;
  height: 500px;
}


#map {
  width: 500px;
  height: 500px;
}

.map-container, .map-display {
  width: 700px;
  height: 700px;
}
